@model Musicologist.ViewModels.AssignmentViewModel

<h1>Assignment</h1>

<h3>@Model.CurrentAssignment.Title</h3>

<h3>@Model.CurrentAssignment.Question</h3>

@foreach (var answer in Model.CurrentAssignment.Answers)
{
    <form asp-controller="Assignment" asp-action="Index" method="post">
        <input type="hidden" asp-for="@Model.CurrentCourseId" value="@Model.CurrentCourseId" />
        <input type="hidden" asp-for="@Model.CurrentAssignment.Id" value="@Model.CurrentAssignment.Id" />
        <input type="hidden" asp-for="@Model.CurrentAssignment.Id" value="@Model.CurrentAssignment.Id" />
        <input type="hidden" asp-for="@Model.CurrentAnswer.IsCorrect" value="@answer.IsCorrect" />
        <button type="submit" class="btn btn-success">@answer.Text</button>
    </form>

    <br />
    <br />
}

<audio id="incorrect-answer">
    <source src="~/sounds/incorrect-answer.mp3" type="audio/mpeg">
</audio>

<audio id="correct-answer">
    <source src="~/sounds/correct-answer.mp3" type="audio/mpeg">
</audio>

@if (Model.AnswerIsIncorrect)
{
    <h1 style="color: red;">Incorrect answer</h1>



    <script>

        var x = document.getElementById("incorrect-answer");

        function playAudio() {
            x.play();
        }

        function pauseAudio() {
            x.pause();
        }

        playAudio();
    </script>
}

@if (Model.AnswerIsCorrect)
{
    <h1 style="color: green;">Correct answer</h1>

    <script>

        var x = document.getElementById("correct-answer");

        function playAudio() {
            x.play();
        }

        function pauseAudio() {
            x.pause();
        }

        playAudio();
    </script>
}