@model Musicologist.ViewModels.AssignmentViewModel

<h1>Assignment</h1>

<h3>@Model.CurrentAssignment.Title</h3>

<h3>@Model.CurrentAssignment.Question</h3>

@foreach (var answer in Model.CurrentAssignment.Answers)
{
    <form asp-controller="ApplicationUserAssignment" asp-action="Index" method="post">
        <input type="hidden" asp-for="@Model.CurrentCourseId" value="@Model.CurrentCourseId" />
        <input type="hidden" asp-for="@Model.CurrentAssignment.Id" value="@Model.CurrentAssignment.Id" />
        <input type="hidden" asp-for="@Model.CurrentAssignment.Id" value="@Model.CurrentAssignment.Id" />
        <input type="hidden" asp-for="@Model.CurrentAnswer.IsCorrect" value="@answer.IsCorrect" />
        <button type="submit" class="btn btn-success">@answer.Text</button>
    </form>

    <br />
    <br />
}

@if (Model.AnswerIsIncorrect)
{
    <h1 style="color: red;">Incorrect answer</h1>
}

@if (Model.AnswerIsCorrect)
{
    <h1 style="color: green;">Correct answer</h1>
}