@model Musicologist.ViewModels.ApplicationUserCourseViewModel

<h3>Continue where you left off...</h3>

<h1>@Model.CurrentApplicationUserCourse.Title</h1>

<h6>XP earned: @Model.CurrentApplicationUserCourse.XPEarned out of @Model.CurrentApplicationUserCourse.XPReward</h6>

@{
    bool IsUnlocked = false;
    bool IsFirst = true;

}

@foreach (var coursePart in Model.CurrentApplicationUserCourse.CourseParts)
{
    <h3>@coursePart.Title</h3>
    <table>
        @foreach (var lesson in coursePart.Lessons)
        {
            <tr>
                @if (lesson.Assignment.IsCompleted)
                {
                    <td>
                        <a href="/Course/Lesson?lessonId=@lesson.Id&courseId=@Model.CurrentCourseId">
                            <p>@lesson.Title</p>
                        </a>
                    </td>

                    <td>
                        <i style="color:green;" class="fas fa-check"></i>
                    </td>

                    IsUnlocked = true;
                }
                else if (IsUnlocked || IsFirst)
                {
                    <td>
                        <a href="/Course/Lesson?lessonId=@lesson.Id&courseId=@Model.CurrentCourseId">
                            <p>@lesson.Title</p>
                        </a>
                    </td>

                    <td>
                        <i style="color:grey;" class="fas fa-unlock"></i>
                    </td>

                    IsUnlocked = false;
                    IsFirst = false;
                }
                else
                {
                    <td>
                        <p>@lesson.Title</p>
                    </td>
                    <td>
                        <i style="color:grey;" class="fas fa-lock"></i>
                    </td>
                }
            </tr>
        }
    </table>
}