@model Musicologist.ViewModels.ApplicationUserCourseViewModel

<h3>Continue where you left off...</h3>

<h1>@Model.CurrentApplicationUserCourse.Title</h1>

<h6>XP earned: @Model.CurrentApplicationUserCourse.XPEarned out of @Model.CurrentApplicationUserCourse.XPReward</h6>

@{
    int i = 0;
}

@if(Model.CurrentApplicationUserCourse.NumberOfLessons == Model.CurrentApplicationUserCourse.AssignmentsCompleted)
{
    <h1 style="color: green;">Congratulations! You've completed this course :)</h1>
}

@foreach (var coursePart in Model.CurrentApplicationUserCourse.CourseParts)
{
    <h3>@coursePart.Title</h3>
    <table>
        @foreach (var lesson in coursePart.Lessons)
        {
            <tr>
                @if (i < Model.CurrentApplicationUserCourse.AssignmentsCompleted)
                {
                    <td>
                        <a href="/Lesson/Index?lessonId=@lesson.Id&courseId=@Model.CurrentCourseId">
                            <p>@lesson.Title</p>
                        </a>
                    </td>
                    <td>
                        <i style="color:green;" class="fas fa-check"></i>
                    </td>
                }
                else if (i == Model.CurrentApplicationUserCourse.AssignmentsCompleted)
                {
                    <td>
                        <a href="/Lesson/Index?lessonId=@lesson.Id&courseId=@Model.CurrentCourseId">
                            <p>@lesson.Title</p>
                        </a>
                    </td>
                    <td>
                        <i style="color:grey;" class="fas fa-unlock"></i>
                    </td>
                }
                else
                {
                    <td>
                        <p>@lesson.Title</p>
                    </td>
                    <td>
                        <i style="color:grey;" class="fas fa-lock"></i>
                    </td>
                }
            </tr>

            i++;
        }
    </table>
}